asgiref==3.6.0
bleach==6.0.0
certifi==2022.12.7
charset-normalizer==3.1.0
Django==4.1.7
django-comment-system==2.7.8
django-rating-system==1.0.6
django-reaction-system==1.0.2
idna==3.4
Pillow==9.5.0
python-decouple==3.8
requests==2.28.2
six==1.16.0
sqlparse==0.4.3
tinycss2==1.1.1
tzdata==2023.2
urllib3==1.26.15
webencodings==0.5.1
