{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>My Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
</head>

<body class="bg-gray-200">

<!-- Navigation Bar -->
{% include 'blog/utils/Navbar.html' %}
<div class="flex flex-col items-center justify-center" style="min-height: calc(100vh - 120px)">
    {% block body %}{% endblock %}
</div>

<!-- Footer -->
{% include 'blog/utils/Footer.html' %}

</body>
</html>
