{% extends 'blog/base.html' %}
{% load static %}

{% block body %}
    <div class="w-full max-w-md mx-auto my-8 px-8 py-8 sm:px-12 lg:px-16 max-w-full">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
            <div class="flex items-center justify-center mb-6">
                <h2 class="text-3xl font-bold text-gray-800">404</h2>
                <lord-icon
                        src="https://cdn.lordicon.com/fmnowuba.json"
                        trigger="loop"
                        delay="1000"
                        colors="primary:#1663c7,secondary:#e83a30"
                        class="w-16 h-16">
                </lord-icon>
            </div>
            <div class="flex items-center justify-between mt-4">
                <a href="{% url 'blog:home' %}" class="bg-blue-500 hover:bg-blue-700 block text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline">Back to Home</a>
            </div>
        </div>
    </div>
{% endblock %}