<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <!-- Title -->
            <div class="flex flex-shrink-0 items-center">
                <a href="{% url 'blog:home' %}" class="text-2xl font-bold text-white">My Blog</a>
            </div>

            <!-- Menu -->
            <div class="block">
                <div class="ml-10 flex items-baseline space-x-4">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'blog:login' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Log in</a>
                        <a href="{% url 'blog:signup' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Sign up</a>
                    {% else %}
                        <a href="{% url 'blog:profile' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ user.username }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>